NODE_ID=demo1223
TRANSPORTER=redis://127.0.0.1:6379
TRANSPORTER_SERIALIZER=Notepack
CLUSTER_TOKEN=super-secret-cluster-token
PLUGIN_LOG_LEVEL=error
ENABLE_DBMIGRATION=false
ENABLE_PLUGINS_INSTALL_DEPS=true